<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SAO Generator</title>
        <link href="src/styles/site.css" rel="stylesheet">
        <link rel="icon" href="./static/images/logo.png">
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://kit.fontawesome.com/310c77ed8a.js" crossorigin="anonymous"></script>
    </head>
    <body id="app" class="text-center">
        <div class="input">
            <div class="code-link">
                <a href="https://twitter.com/Macguyvok" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://gitlab.com/morgul/sao-gen/" target="_blank" title="Source Code"><i class="far fa-code"></i></a>
            </div>
            <span style="margin-left: 64px">Type your message in the box...</span>
            <input class="sao-input" type="text" v-model="message">
        </div>
        <div class="message">
            <span class="sao-text">
                {{ message }}
            </span>
        </div>

        <!-- App Code -->
        <script src="./src/app.js"></script>
    </body>
</html>
