@font-face {
    font-family: "SAO";
    src: url("../../static/fonts/whysoserious.ttf");
}

html, body {
    box-sizing: border-box;
    background-color: #200;
    height: 100%;
    color: maroon;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: right;
}

.code-link {
    float: right;
    color: #400;
}

.code-link a {
    color: #c00;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.sao-text {
    /*color: #822;*/
    /*color: transparent;*/
    color: rgba(255, 0, 0, 0.05);
    /*text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    text-shadow: 2px 2px 5px #800000;
    font-size: 64px;
    text-transform: uppercase;
    font-family: "SAO";
}

.text-center {
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    width: 100%;
}

.input {
    background-color: black;
    border-right: 2px solid #400;
    border-left: 2px solid #400;
    border-bottom: 2px solid #400;
    height: 80px;
    color: #999;
    padding: 0.5rem 0.25rem;
    margin-left: 15px;
    margin-right: 15px;
}

.sao-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;

    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    background-color: #100;
    color: #900;
    border: 1px solid #900;
    padding: 0.75rem 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sao-input:focus {
    outline: none;
}
